@model DanceApp1.Models.ViewModels.UpdateDancer
@{
    ViewBag.Title = "Details";
}

<a class="btn btn-primary" style="margin-bottom:2rem;" href="/Dancer/List">Back To List</a>

<div class="card" style="width: fit-content;">
    <div class="card-body">
        <h3 class="card-title" style="margin:1rem;">@Model.selecteddancer.firstName @Model.selecteddancer.lastName</h3>

        <div>
            @{ 
                string imageUrl = "/Content/Images/Dancers/default.png";
                if (Model.selecteddancer.DancerHasPic)
                {
                    imageUrl = "/Content/Images/Dancers/" + Model.selecteddancer.dancerId + "." + Model.selecteddancer.PicExtension;
                }
            }
        </div>
        <div class="card-text"><strong>Dance Style:</strong> @Model.selecteddancer.danceStyle</div>
        <div class="card-text"><strong>Dance Group:</strong> @Model.selecteddancer.Group</div>
        <div class="card-text"><strong>Dancer Bio:</strong> @Model.selecteddancer.dancerBio</div>


        <nav style="margin:1rem;">
            <form method="POST" action="/Dancer/Edit/@Model.selecteddancer.dancerId" style="display: inline;" class="card-link">
                <button class="btn btn-info">Edit</button>
            </form>

            <form method="POST" action="/Dancer/DeleteConfirm/@Model.selecteddancer.dancerId" style="display: inline;" class="card-link">
                <button class="btn btn-danger">Delete</button>
            </form>
        </nav>
    </div>
</div>