@model DanceApp1.Models.ViewModels.DetailsGroup

@{
    ViewBag.Title = "Details";
}

<a href="/Group/List">Back To List</a>


<h3>@Model.SelectedGroup.groupName</h3>
<div><strong>Dance Style:</strong> @Model.SelectedGroup.groupStyle</div>
<div><strong>Group Bio:</strong> @Model.SelectedGroup.groupBio</div>

<nav>
    <form method="POST" action="/Group/Edit/@Model.SelectedGroup.groupId">
        <button>Edit</button>
    </form>
</nav>

<nav>
    <form method="POST" action="/Group/DeleteConfirm/@Model.SelectedGroup.groupId">
        <button style="color:#ab2020;">Delete</button>
    </form>
</nav>

<div style="margin-top:100px;">
    <h4>Dancers in this group: </h4>

    @foreach (var dancer in Model.RelatedDancers)
            {
                <a href="/Dancer/Details/@dancer.dancerId">@dancer.firstName @dancer.lastName</a>
            }
</div>