@model DanceApp1.Models.ViewModels.DetailsShowcase

@{
    ViewBag.Title = "Details";
}

<a href="/Showcase/List">Back To List</a>


<h3>@Model.SelectedShowcase.showcaseName</h3>
<div><strong>Date:</strong> @Model.SelectedShowcase.Date</div>
<div><strong>Location:</strong> @Model.SelectedShowcase.showcaseLocation</div>


<nav>
    <form method="POST" action="/Showcase/Edit/@Model.SelectedShowcase.showcaseId">
        <button>Edit</button>
    </form>
</nav>

<nav>
    <form method="POST" action="/Showcase/DeleteConfirm/@Model.SelectedShowcase.showcaseId">
        <button style="color:#ab2020;">Delete</button>
    </form>
</nav>

<div>
    <h4>
        Groups participated:
    </h4>
    @foreach (var group in Model.ShowcaseGroups)
    {
        <a href="/Group/Details/@group.groupId">@group.groupName</a>
        <a style="color:#ff0000" href="/Showcase/Unassociate/@Model.SelectedShowcase.showcaseId?groupId=@group.groupId">[X]</a> <br />
    }
    <div>
        <h5>Add new Group for @Model.SelectedShowcase.showcaseName event:</h5>
        <form method="POST" action="/Showcase/Associate/@Model.SelectedShowcase.showcaseId">
            <select name="groupId">
                @foreach (var group in Model.AvailableGroups)
                {
                    <option value="@group.groupId">@group.groupName</option>
                }
            </select>
            <input type="submit" value="Associate Group" />
        </form>
    </div>
</div>